<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <form action='/result' method='post'>
        Your Name:<input type='text' name='username'>
        Dojo Location:<select name='location'>
            <option value="san_jose">San Jose</option>
            <option value="dallas">Dallas</option>
            <option value="seattle">Seattle</option>
            <option value="new_york">New York</option>
        </select>
        Favorite Language:<select name='language'>
            <option value="ruby">Ruby</option>
            <option value="python">Python</option>
            <option value="javascript">Javascript</option>
        </select>  
        Comments:<input type='text' name='comments'>
        <input type="submit">
    </form>
</body>
</html>